<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Перевірка сертифікатів УЦОЯО 2008 – 2014 р.р.</title>
    <meta name="robots" content="none">
    <link rel="icon" href="{{ asset('bundles/iktotpemugui/img/favicon.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ asset('bundles/iktotpemugui/img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/iktotpemugui/css/style.css') }}">
  </head>
  <body>
    <h1>Перевірка сертифікатів УЦОЯО 2008 – 2014 р.р.</h1>
    {% block content %}{% endblock %}    <div style="text-align: center; width: 500px"><hr>© Український центр оцінювання якості освіти 2007 – 2014</div>

</body></html>